header {
    text-align: center;
    font-size: 499%;
    background-color: rgb(56, 56, 53);
}

.ver-menu {
    width: 200px;
}

.ver-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none; 
}

.ver-menu a:hover {
    background-color: #ccc;
}

.ver-menu a.active {
    background-color: rgb(56, 56, 53);
    color: white;
}

footer {
        text-align: center;
        font-size: large;
    }